#navigation{
	width:140px
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#content{
	background-color:gray;
	padding: 0px 0px;
}

#checker_board{
	table-layout: fixed;
	height: 400px;
	width: 400px;
	padding: 0px 0px;
	border-spacing: 1px;
}
